button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #dd6899;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: .9;
    flex: 1;
    border-radius: 3px;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

#clear-btn {
    background-color: #444;
} 